<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/public_html/ng-nsomis/" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS template example</title>

        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,300' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- build:css modules/css/release.css -->
        <link rel="stylesheet" href="node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="css/main.css">
        <!-- endbuild -->
        <link rel="icon" type="image/png" href="img/favicon.png">
    </head>
    <body ng-app="App" ng-controller="mainController">
        <div class="container-fluid" style="margin-top: 10px;">
            <header style="padding: 10px;">                
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="home" id="home" ng-click="tabToggle($event)" class="nav-link active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="ornum" id="ornum" ng-click="tabToggle($event)" class="nav-link">ผู้รับบริการผ่าตัด</a>
                            </li>
                            <li class="nav-item">
                                <a href="admdate" id="admdate" ng-click="tabToggle($event)" class="nav-link">สรุปวันนอน</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <main style="margin-bottom: 30px;">
                <div ng-view class="container-fluid"></div>
            </main>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <!-- build:js modules/js/release.js -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="js/bootstrap-datepicker-custom.js"></script>
        <script src="node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.th.min.js"></script>
        <script src="js/env.js"></script>
        <script src="js/app.js"></script>
        <script src="js/routes.js"></script>
        <script src="js/controllers/mainCtrl.js"></script>
        <script src="js/controllers/homeCtrl.js"></script>
        <script src="js/controllers/userCtrl.js"></script>
        <script src="js/controllers/ipCtrl.js"></script>
        <script src="js/controllers/opCtrl.js"></script>
        <script src="js/services/report.js"></script>
        <script src="js/services/stringFormat.js"></script>
        <!-- endbuild -->

    </body>
</html>