<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="home" class="brand-link">
        <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">DNH MIS v.1</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" ng-show="isLogedIn">
            <div class="image">
                <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul 
                id="app-sidebar"
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
            >
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item menu-open" id="dash">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="้home" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ประจำปี</p>
                                <!-- <span class="right badge badge-danger">New</span> -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="dash-month" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ประจำเดือน</p>
                                <!-- <span class="right badge badge-danger">New</span> -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="dash-day" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ประจำวัน</p>
                                <!-- <span class="right badge badge-danger">New</span> -->
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="op">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            ผู้ป่วยนอก (OP)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/layout/top-nav.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="ip">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bed"></i>
                        <p>
                            ผู้ป่วยใน (IP)
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="ip/admdc-day" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Admit / D/C ต่อวัน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/admdc-month" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Admit / D/C ต่อเดือน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/admdc-year" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Admit / D/C ต่อปี</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/bedocc-month" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>อัตราครองเตียง (ต่อเดือน)</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/bedocc-year" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>อัตราครองเตียง (ปีงบ)</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/bedempty-day" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>การใช้เตียงประจำวัน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/class" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ยอดผู้ป่วยแยกประเภท</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/product-overall" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Productivity ผู้ป่วยใน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/chart-sending" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>สรุปการส่งชาร์ตผู้ป่วย</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="er">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-wheelchair"></i>
                        <p>
                            ห้องฉุกเฉิน (ER)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="er/sum-period" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ผลการปฏิบัติงานห้อง ER</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="pages/UI/icons.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item" id="or">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-nurse"></i>
                        <p>
                            ห้องผ่าตัด (OR)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="or/sum-year" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>สรุปยอดผ่าตัด</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="or/emergency-year" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ยอดผ่าตัดตามความเร่งด่วน </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="or/expenses" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>มูลค่าค่าใช้จ่ายแยกหมวด</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="or/cataract" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>รายการผู้รับบริการผ่าตัดตา</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="refer">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-ambulance"></i>
                        <p>
                            ศูนย์ส่งต่อ (Refer)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/tables/simple.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/tables/data.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="eye">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-eye"></i>
                        <p>
                            OPD จักษุ
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="eye/vision2020" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>รายงาน Vision2020</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="pages/tables/data.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item" id="scope">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-microscope"></i>
                        <p>
                            ห้องส่องกล้อง
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="scope/sum-year" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>สรุปยอดผู้รับบริการ</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="pages/tables/data.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item" id="resource">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hospital-user"></i>
                        <p>
                            ทรัพยากร
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="nurses/stat" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ทรัพยากรทั้งหมด</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="nurses/list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>พยาบาลวิชาชีพ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="supports/list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>บุคลากรอื่นๆ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="nurses/gen-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>เจเนอเรชั่นและระดับ</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="pharma">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-capsules"></i>
                        <p>
                            ห้องจ่ายยา
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pharma/op" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ยอดการใช้ยา OPD</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pharma/ip" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ยอดการใช้ยา IPD</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pharma/user-druglists" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>สร้างรายการยา</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="covid">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-lungs-virus"></i>
                        <p>
                            ผู้ป่วยโควิด (COVID-19)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="covid/num-bed" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>การใช้เตียง</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="covid/num-tambon" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ผู้ป่วย อ.เมือง รายตำบล</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- /.sidebar-menu -->
    </div><!-- /.sidebar -->
</aside>

<script type="text/javascript">
	$(function () {
        /** menu */
		$(".nav-sidebar > .nav-item > .nav-link").on("click", function (e) {
			e.preventDefault();
            console.log('On menu is clicked!!');
            /** Set display style of .nav-treeview that is child of previous opened .nav-item to none */
			$(".nav-sidebar").find(".menu-open").children(".nav-treeview").css("display", "none");
            /** Remove .menu-open class from previous opened .nav-item */
			$(".nav-sidebar").find(".menu-open").removeClass("menu-open");

            /** Set class and style to clicked .nav-item */
			// $(this).parent().addClass("menu-open");
            /** Set display style of .nav-treeview that is child of clicked .nav-item to block */
            // $(this).parent().children(".nav-treeview").css("display", "block");

            /** Remove .active class from previous actived .nav-link that is child of .nav-item */
			$(".nav-sidebar .nav-item").find(".active").removeClass("active");
            /** Set .active class to clicked .nav-link */
			$(this).addClass("active");
		});

        /** submenu */
		$(".nav-treeview .nav-link").on("click", function (e) {
            console.log('On submenu is clicked!!');

			$(".nav-treeview").find(".active").removeClass("active");
			$(this).addClass("active");
		});
	});
</script>