<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="home" class="brand-link">
        <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">DNH MIS v.1</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" ng-show="isLogedIn">
            <div class="image">
                <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item menu-open" id="dash">
                    <a href="#" class="nav-link active" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="้home" class="nav-link active" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>รายปี</p>
                                <!-- <span class="right badge badge-danger">New</span> -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="dash-month" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>รายเดือน</p>
                                <!-- <span class="right badge badge-danger">New</span> -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="dash-day" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>รายวัน</p>
                                <!-- <span class="right badge badge-danger">New</span> -->
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="op">
                    <a href="#" class="nav-link" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            ผู้ป่วยนอก (OP)
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/layout/top-nav.html" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/top-nav-sidebar.html" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="ip">
                    <a href="#" class="nav-link" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-bed"></i>
                        <p>
                            ผู้ป่วยใน (IP)
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="ip/admdate" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>สรุปวันนอน (ไม่นับ ICU)</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/admdate" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>สรุปวันนอน ICU</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ip/class" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ยอดผู้ป่วยแยกประเภท</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="er">
                    <a href="#" class="nav-link" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-wheelchair"></i>
                        <p>
                            ห้องฉุกเฉิน (ER)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="er/sum-period" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ผลการปฏิบัติงานห้อง ER</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/UI/icons.html" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="or">
                    <a href="#" class="nav-link" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-user-nurse"></i>
                        <p>
                            ห้องผ่าตัด (OR)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="or/num-day" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ผู้รับบริการผ่าตัดรายวัน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="or/expenses" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>มูลค่าค่าใช้จ่ายแยกประเภท</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-heartbeat"></i>
                        <p>
                            ห้องผู้ป่วยวิกฤติ (ICU)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="or/num-day" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ผู้รับบริการผ่าตัดรายวัน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/forms/advanced.html" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item" id="refer">
                    <a href="#" class="nav-link" ng-click="sidebarMenuToggle($event)">
                        <i class="nav-icon fas fa-ambulance"></i>
                        <p>
                            ศูนย์ส่งต่อ (Refer)
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/tables/simple.html" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/tables/data.html" class="nav-link" ng-click="sidebarSubMenuToggle($event)">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu Name</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- /.sidebar-menu -->
    </div><!-- /.sidebar -->
</aside>