<div class="modal fade" id="moveForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="">
                <div class="modal-header">
                    <h5 class="modal-title">ฟอร์มย้ายภายใน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-bottom: 0;">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="">ย้ายไป</label>
                            <div style="display: flex; flex-direction: row;">
                                <select name="" id="" class="form-control mr-2">
                                    <option value="">-- กลุ่มงาน --</option>
                                </select>
                                <select name="" id="" class="form-control">
                                    <option value="">-- งาน --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-body -->
                <div class="modal-footer" style="padding-bottom: 8px;">
                    <button class="btn btn-primary">ย้าย</button>
                </div><!-- /.modal-footer -->
            </form>
        </div>
    </div>
</div>