<section
	class="content"
	ng-controller="productController"
	ng-init="initForm(); getProductOverAll($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-chart-bar mr-1"></i>
							สรุป Productivity ประจำเดือน
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<form action="#" method="POST" class="form-inline col-md-8">
								<div class="form-group">
									<label>ประจำเดือน :</label>
									<input
										type="text"
										id="cboMonth"
										name="cboMonth"
										ng-model="cboMonth"
										class="form-control"
										style="margin: 0 10px;"
										autocomplete="off"
									>
								</div>

								<button ng-click="getProductOverAll($event)" class="btn btn-primary">ตกลง</button>						
							</form>

							<div class="col-md-4">
								<a href="ip/product-add" class="btn btn-primary float-right ml-2">บันทึก Productivity</a>
								<a href="ip/product-ward" class="btn btn-success float-right ml-2">Productivity รายวอร์ด</a>
								<a href="ip/product-sum" class="btn btn-danger float-right">สรุป Productivity รายเวร</a>
							</div>

						</div>
					</div><!-- /.card-body -->
				</div><!-- /.card -->

				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<!-- <td tyle="width: 3%; text-align: center;" rowspan="2">ลำดับ</td> -->
										<td style="text-align: center;" rowspan="2">หน่วยงาน</td>
										<td style="text-align: center;" colspan="32">วันที่</td>
									</tr>
									<tr>
										<td
											style="width: 2.5%; text-align: center; font-size: small;"
											ng-repeat="m in range(1, dataTableOptions.totalCol)"
										>
											{{ m }}
										</td>
										<td style="text-align: center;">avg/ด</td>
									</tr>
								</thead>
									<tr ng-repeat="(index, ward) in filteredData" style="font-size: 12px;">
										<!-- <td style="text-align: center;">{{ index+1 }}</td> -->
										<td>
											{{ ward.ward + '-' + ward.name }}
											<span style="margin: 0px; color: grey;">
												{{ ward.desc.building.name }}
												{{ ward.desc.building.floor != '0' ? ' ชั้น ' + ward.desc.building.floor : ''}}
											</span>
										</td>
										<td
											ng-repeat="m in range(1, dataTableOptions.totalCol)"
											style="text-align: center; padding: 10px 0px 0px;"
										>
											<h5>
												<span
													ng-show="ward[m] != '' && ward[m] > 130"
													class="badge bg-danger"
													style="margin: auto 0px;"
												>
													{{ ward[m] | currency:'':0 }}
												</span>
												<span
													ng-show="ward[m] != '' && ward[m] > 110 && ward[m] <= 130"
													class="badge bg-warning"
													style="margin: auto 0px;"
												>
													{{ ward[m] | currency:'':0 }}
												</span>
												<span
													ng-show="ward[m] != '' && ward[m] >= 90 && ward[m] <= 110"
													class="badge bg-success"
													style="margin: auto 0px;"
												>
													{{ ward[m] | currency:'':0 }}
												</span>
												<span
													ng-show="ward[m] != '' && ward[m] < 90"
													class="badge bg-default"
													style="margin: auto 0px;"
												>
													{{ ward[m] | currency:'':0 }}
												</span>
											</h5>
										</td>
										<td style="text-align: center; padding: 10px 0px 0px;">
											<h6>
												<span
													ng-show="ward.total/ward.count > 130"
													class="badge bg-danger"
													style="margin: auto 0px;"
												>
													{{ ward.total/ward.count | currency:'':2 }}
												</span>
												<span
													ng-show="ward.total/ward.count > 110 && ward.total/ward.count <= 130"
													class="badge bg-warning"
													style="margin: auto 0px;"
												>
													{{ ward.total/ward.count | currency:'':2 }}
												</span>
												<span
													ng-show="ward.total/ward.count >= 90 && ward.total/ward.count <= 110"
													class="badge bg-success"
													style="margin: auto 0px;"
												>
													{{ ward.total/ward.count | currency:'':2 }}
												</span>
												<span
													ng-show="ward.total/ward.count < 90"
													class="badge bg-default"
													style="margin: auto 0px;"
												>
													{{ ward.total/ward.count | currency:'':2 }}
												</span>
											</h6>
										</td>
									</tr>
									<!-- <tr>
										<td colspan=2 style="text-align: center;">รวม</td>
										<td style="text-align: center;">{{ totalData.type1 }}</td>
										<td style="text-align: center;">{{ totalData.type2 }}</td>
										<td style="text-align: center;">{{ totalData.type3 }}</td>
										<td style="text-align: center;">{{ totalData.type4 }}</td>
										<td style="text-align: center;">{{ totalData.type5 }}</td>
										<td style="text-align: center;">{{ totalData.unknown }}</td>
										<td style="text-align: center;">{{ totalData.all }}</td>
									</tr> -->
								</tbody>
							</table>
						</div>

						<p style="margin: 2px;"><span class="badge bg-danger">สีแดง</span> : ค่าตั้งแต่ 130 ขึ้นไป</p>
						<p style="margin: 2px;"><span class="badge bg-warning">สีเหลือง</span> : ค่าระหว่าง 110 - 130</p>
						<p style="margin: 2px;"><span class="badge bg-success">สีเขียว</span> : ค่าระหว่าง 90 - 110</p>
						<p style="margin: 2px;"><span class="badge bg-default">สีขาว</span> : ค่าน้อยกว่า 90</p>
					</div><!-- /.card-body -->
				</div><!-- /.card -->
	
			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {
		$('#cboMonth').datepicker({
			autoclose: true,
			format: 'mm/yyyy',
			viewMode: "months", 
			minViewMode: "months",
			language: 'th',
			thaiyear: true
		}).datepicker('update', new Date());
	});
</script>