<section class="content" ng-controller="schedulingController" ng-init="initForm()">
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-hospital-user"></i>
							เพิ่มตารางเวร
						</h3>
					</div><!-- /.card-header -->
				</div><!-- /.card -->

				<div class="card">
					<form action="" method="POST">
						<div class="card-body">
							<div class="row">
								<div class="form-group col-md-4">
									<label>กลุ่มภารกิจ :</label>
									<select
										class="form-control"
										id="faction"
										name="faction"								
										ng-model="newScheduling.faction"								
										ng-change="onFactionChange(newScheduling.faction)"
									>
										<option value="">-- เลือกกลุ่มภารกิจ --</option>
										<option ng-repeat="fac in factions" value="{{ fac.faction_id }}">
											{{ fac.faction_name }}
										</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label>กลุ่มงาน :</label>
									<select
										class="form-control"
										id="depart"
										name="depart"								
										ng-model="newScheduling.depart"								
										ng-change="onDepartChange(newScheduling.depart)"
									>
										<option value="">-- เลือกกลุ่มงาน --</option>
										<option ng-repeat="dep in departs" value="{{ dep.depart_id }}">
											{{ dep.depart_name }}
										</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label>งาน :</label>
									<select
										class="form-control"
										id="division"
										name="division"								
										ng-model="newScheduling.division"								
										ng-change="onDivisionChange(newScheduling.division)"
									>
										<option value="">-- เลือกงาน --</option>
										<option ng-repeat="div in divisions" value="{{ div.ward_id }}">
											{{ div.ward_name }}
										</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label>ประจำเดือน :</label>
									<input
										type="text"
										id="month"
										name="month"
										ng-model="newScheduling.month"
										class="form-control"
										autocomplete="off"
									>
								</div>
								<div class="form-group col-md-4">
									<label>ปีงบประมาณ :</label>
									<input
										type="text"
										id="year"
										name="year"
										ng-model="newScheduling.year"
										class="form-control"
										style="margin: 0 10px;"
										autocomplete="off"
									>
								</div>
								<div class="form-group col-md-4">
									<label>ผู้ควบคุม :</label>
									<select
										id="controller"
										name="controller"
										ng-model="newScheduling.controller"
										class="form-control">
										<option value="">-- เลือกผู้ควบคุม --</option>
										<option ng-repeat="person in divisionMembers" value="{{ person.person_id }}">
											{{ person.person_firstname+ ' ' +person.person_lastname }}
										</option>
									</select>
								</div>
							</div>

							<table class="table table-bordered table-striped" style="font-size: 14px;">
								<thead>
									<tr>
										<td style="text-align: center;" rowspan="2">ชื่อ-สกุล</td>
										<td style="text-align: center;" colspan="{{ dataTableOptions.totalCol }}">วันที่</td>
										<td style="width: 3%; text-align: center;" rowspan="2">รวม</td>
										<td style="width: 5%; text-align: center;" rowspan="2">Actions</td>
									</tr>
									<tr>
										<td
											style="width: 2.5%; text-align: center; font-size: small;"
											ng-repeat="m in range(1, dataTableOptions.totalCol)"
										>
											{{ m }}
										</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="person in divisionMembers track by $index">
										<td>
											{{ person.person_firstname+ ' ' +person.person_lastname }}
											<p style="color: grey; margin: 0px;">
												ตำแหน่ง ...
											</p>
										</td>
										<td
											ng-repeat="date in range(1, dataTableOptions.totalCol) track by $index"
											style="text-align: center; font-size: small; padding: 0px;"
										>
											<input
												type="hidden"
												id="{{ person.person_id+ '_1_' +date }}"
												name="{{ person.person_id+ '_1_' +date }}"
												value="-"
											/>
											<div class="btn-group mt-2" role="group">
												<button
													type="button"
													id="{{ person.person_id+ '_1_' +date+ '_btnGroupDrop' }}"
													class="btn btn-default btn-xs dropdown-toggle"
													data-toggle="dropdown"
													aria-haspopup="true"
													aria-expanded="false"
												>
													{{ '-' }}
												</button>
												<div
													class="dropdown-menu dropdown-menu-right" 
													aria-labelledby="{{ person.person_id+ '_1_' +date+ '_btnGroupDrop' }}"
													style="min-width: 4rem;"
												>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, '-', person.person_id+ '_1_' +date)">
														-
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'ด', person.person_id+ '_1_' +date)">
														ด
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'ช', person.person_id+ '_1_' +date)">
														ช
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'บ', person.person_id+ '_1_' +date)">
														บ
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'BD', person.person_id+ '_1_' +date)">
														BD
													</a>
												</div>
											</div>

											<input
												type="hidden"
												id="{{ person.person_id+ '_2_' +date }}"
												name="{{ person.person_id+ '_2_' +date }}"
												value="-"
											/>
											<div class="btn-group mt-2" role="group">
												<button
													type="button"
													id="{{ person.person_id+ '_2_' +date+ '_btnGroupDrop' }}"
													class="btn btn-default btn-xs dropdown-toggle"
													data-toggle="dropdown"
													aria-haspopup="true"
													aria-expanded="false"
												>
													{{ '-' }}
												</button>
												<div
													class="dropdown-menu dropdown-menu-right" 
													aria-labelledby="{{ person.person_id+ '_2_' +date+ '_btnGroupDrop' }}"
													style="min-width: 4rem;"
												>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, '-', person.person_id+ '_2_' +date)">
														-
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'ด', person.person_id+ '_2_' +date)">
														ด
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'ช', person.person_id+ '_2_' +date)">
														ช
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'บ', person.person_id+ '_2_' +date)">
														บ
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'BD', person.person_id+ '_2_' +date)">
														BD
													</a>
												</div>
											</div>

											<input
												type="hidden"
												id="{{ person.person_id+ '_3_' +date }}"
												name="{{ person.person_id+ '_3_' +date }}"
												value="-"
											/>
											<div class="btn-group mt-2" role="group">
												<button
													type="button"
													id="{{ person.person_id+ '_3_' +date+ '_btnGroupDrop' }}"
													class="btn btn-default btn-xs dropdown-toggle"
													data-toggle="dropdown"
													aria-haspopup="true"
													aria-expanded="false"
												>
													{{ '-' }}
												</button>
												<div
													class="dropdown-menu dropdown-menu-right" 
													aria-labelledby="{{ person.person_id+ '_3_' +date+ '_btnGroupDrop' }}"
													style="min-width: 4rem;"
												>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, '-', person.person_id+ '_3_' +date)">
														-
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'ด', person.person_id+ '_3_' +date)">
														ด
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'ช', person.person_id+ '_3_' +date)">
														ช
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'บ', person.person_id+ '_3_' +date)">
														บ
													</a>
													<a href="#" class="dropdown-item" ng-click="onSelectedShift($event, 'BD', person.person_id+ '_3_' +date)">
														BD
													</a>
												</div>
											</div>
										</td>
										<td>
											<div style="display: flex; flex-direction: column;">
												<span>ด=</span>
												<span>ช=</span>
												<span>บ=</span>
												<span>BD=</span>
											</div>
										</td>
										<td style="text-align: center;">
											<a href="#" class="btn btn-primary btn-sm" ng-click="onAddShift($event, person.person_id)">
												เพิ่ม
											</a>
										</td>
									</tr>
								</tbody>
							</table>

							<div ng-include="'./templates/modals/nurse/shift-form.html?version=202109031630'"></div>

						</div><!-- /.card-body -->
						<div class="card-footer clearfix">
							<button type="reset" class="btn btn-danger float-right">ยกเลิก</button>
							<button ng-click="store($event)" class="btn btn-primary float-right mr-2">บันทึก</button>
						</div><!-- /.card-footer -->
					</form>
				</div><!-- /.card -->
	
			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {});
</script>
