<section
	class="content"
	ng-controller="nurseController"
	ng-init="getInitForm($event);getNurse($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-3">

				<!-- Profile Image -->
				<div class="card card-primary card-outline">
					<div class="card-body box-profile">
						<div class="text-center">
							<img
								class="profile-user-img img-fluid img-circle"
								src="assets/img/user4-128x128.jpg"
								alt="User profile picture"
							>
						</div>

						<h3 class="profile-username text-center">
							{{ profile.prefix.prefix_name+profile.person_firstname+ ' ' +profile.person_lastname }}
						</h3>

						<p class="text-muted text-center" style="margin: 5px auto;">
							{{ profile.position.position_name+ '' +profile.academic.ac_name }}
						</p>

						<!-- // TODO: แสดงเฉพาะหัวหน้ากลุ่มภารกิจ/หัวหน้ากลุ่มงาน/หัวหน้างาน -->
						<p class="text-muted text-center" ng-if="profile.member_of.duty.duty_id < 3">
							{{ profile.member_of.duty.duty_name + profile.member_of.depart.depart_name }}
							<span ng-if="profile.member_of.duty.duty_id == 1">ด้านการพยาบาล</span>
						</p>

						<p class="text-muted text-center">
							วันที่บรรจุ {{ profile.person_singin | thdate }}
						</p>

						<!-- <ul class="list-group list-group-unbordered mb-3">
							<li class="list-group-item">
							<b>Followers</b> <a class="float-right">1,322</a>
							</li>
							<li class="list-group-item">
							<b>Following</b> <a class="float-right">543</a>
							</li>
							<li class="list-group-item">
							<b>Friends</b> <a class="float-right">13,287</a>
							</li>
						</ul>

						<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
					</div><!-- /.card-body -->
				</div><!-- /.card -->
				<!-- Profile Image -->

				<!-- About Me Box -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">ข้อมูลทั่วไป</h3>
					</div><!-- /.card-header -->
					<div class="card-body">

						<strong><i class="fas fa-book mr-1"></i> การศึกษา</strong>
						<!-- <p class="text-muted">
							B.S. in Computer Science from the University of Tennessee at Knoxville
						</p> -->

						<hr>

						<strong><i class="fas fa-map-marker-alt mr-1"></i> ที่อยู่</strong>
						<p class="text-muted">
							<p>เลขที่ <span>{{ profile.person_no }}</span> หมู่ <span>{{ profile.person_moo }}</span> ต. <span>{{ profile.person_tumbon }}</span></p>
							<p>อ. <span>{{ profile.person_amphur }}</span> จ. <span>{{ profile.person_province }}</span> <span>{{ profile.person_postcode }}</span></p>
							<p>เบอร์ <span>{{ profile.person_tel }}</span></p>
						</p>

						<hr>

						<!-- <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
						<p class="text-muted">
							<span class="tag tag-danger">UI Design</span>
							<span class="tag tag-success">Coding</span>
							<span class="tag tag-info">Javascript</span>
							<span class="tag tag-warning">PHP</span>
							<span class="tag tag-primary">Node.js</span>
						</p> -->

						<!-- <hr> -->

						<strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
						<!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p> -->

					</div><!-- /.card-body -->
				</div><!-- /.card -->
				<!-- About Me Box -->

			</div><!-- /.col -->

			<div class="col-md-9">
				<div class="card">
					<div class="card-header p-2">
						<ul id="profileTabs" class="nav nav-pills">
							<li class="nav-item">
								<a class="nav-link active" href="#settings" data-toggle="tab">
									แก้ไขข้อมูล
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#educations" data-toggle="tab">
									ประวัติการอบรม/ศึกษาต่อ
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#moves" data-toggle="tab">
									ประวัติการย้าย
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#positions" data-toggle="tab">
									ประวัติการดำรงตำแหน่ง
								</a>
							</li>
						</ul>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane" id="educations">
								<!-- Post -->
								<div class="post">

									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="text-align: center; width: 5%;">ลำดับ</th>
												<th style="text-align: center; width: 25%;">ประเภทการอบรม/ศึกษาต่อ</th>
												<th style="text-align: center; width: 8%;">ปีที่สำเร็จ</th>
												<th style="text-align: center;">สถาบัน/สถานศึกษา</th>
												<th style="text-align: center; width: 10%;">Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="text-align: center;"></td>
												<td></td>
												<td style="text-align: center;"></td>
												<td></td>
												<td style="text-align: center;">
													<a href="" class="btn btn-warning btn-xs">
														<i class="fas fa-pencil-alt"></i>
													</a>
													<a href="" class="btn btn-danger btn-xs">
														<i class="fas fa-trash-alt"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>

								</div><!-- /.post -->
							</div><!-- /.tab-pane -->

							<div class="tab-pane" id="moves">

								<table class="table table-bordered">
									<thead>
										<tr>
											<th style="text-align: center; width: 5%;">ลำดับ</th>
											<th style="text-align: center; width: 10%;">วันที่ย้าย</th>
											<th style="text-align: center; width: 25%;">จากหน่วยงาน</th>
											<th style="text-align: center; width: 25%;">ไปหน่วยงาน</th>
											<th style="text-align: center;">คำสั่ง</th>
											<th style="text-align: center; width: 8%;">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(index, row) in moveLists">
											<td style="text-align: center;">{{ index + 1 }}</td>
											<td style="text-align: center;">{{ row.move_date || '-' }}</td>
											<td>
												<p class="text-xs my-1">
													{{ row.old_faction.faction_name || '-' }}
												</p>
												<p class="text-xs my-1">
													{{ row.old_depart.depart_name || '-' }}
												</p>
											</td>
											<td>
												<p class="text-xs my-1">
													{{ row.new_faction.faction_name || '-' }}
												</p>
												<p class="text-xs my-1">
													{{ row.new_depart.depart_name || '-' }}
												</p>
											</td>
											<td>
												<p class="text-sm my-1">เลขที่ {{ row.move_doc_no || '-' }}</p>
												<p class="text-sm my-1">ลงวันที่ {{ row.move_doc_date || '-' }}</p>
												<p class="text-sm my-1">
													หมายเหตุ : 
													<span class="text-xs text-primary">{{ row.remark || '-' }}</span>
												</p>
											</td>
											<td style="text-align: center;">
												<a href="" class="btn btn-warning btn-xs">
													<i class="fas fa-pencil-alt"></i>
												</a>
												<a href="" class="btn btn-danger btn-xs">
													<i class="fas fa-trash-alt"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>

							</div><!-- /.tab-pane -->

							<div class="tab-pane" id="positions">
								<!-- Post -->
								<div class="post">

									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="text-align: center; width: 5%;">ลำดับ</th>
												<th style="text-align: center; width: 15%;">วันที่เข้า</th>
												<th style="text-align: center; width: 15%;">วันที่ออก</th>
												<th style="text-align: center;">ตำแหน่ง</th>
												<th style="text-align: center; width: 20%;">คำสั่ง</th>
												<th style="text-align: center; width: 10%;">Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="text-align: center;"></td>
												<td style="text-align: center;"></td>
												<td style="text-align: center;"></td>
												<td>
													<p class="text-sm my-1">ประเภทตำแหน่ง</p>
													<p class="text-sm my-1">ตำแหน่ง</p>
													<p class="text-sm my-1">ระดับ</p>
												</td>
												<td>
													<p class="text-sm my-1">เลขที่</p>
													<p class="text-sm my-1">ลงวันที่</p>
												</td>
												<td style="text-align: center;">
													<a href="" class="btn btn-warning btn-xs">
														<i class="fas fa-pencil-alt"></i>
													</a>
													<a href="" class="btn btn-danger btn-xs">
														<i class="fas fa-trash-alt"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>

								</div><!-- /.post -->
							</div><!-- /.tab-pane -->

							<div class="active tab-pane" id="settings">

								<form class="form-horizontal">
									<div class="form-group row">
										<label for="person_name" class="col-sm-2 col-form-label">ชื่อ-สกุล</label>
										<div class="col-sm-10">
											<div style="display: flex; flex-direction: row;">
												<select
													id="person_prefix"
													ng-model="profile.person_prefix"
													class="form-control col-md-2 mr-1"
												>
													<option value="">-- เลือกระดับ --</option>
													<option ng-repeat="prefix in prefixes" value="{{ prefix.prefix_id }}">
														{{ prefix.prefix_name }}
													</option>
												</select>
												<input
													type="text"
													class="form-control mr-1"
													id="person_firstname"
													ng-model="profile.person_firstname"
													placeholder="Name"
												/>
												<input
													type="text"
													class="form-control"
													id="person_lastname"
													ng-model="profile.person_lastname"
													placeholder="Name"
												/>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="person_email" class="col-sm-2 col-form-label">Email</label>
										<div class="col-sm-10">
											<input
												type="email"
												class="form-control"
												id="person_email"
												ng-model="profile.person_email"
												placeholder="Name"
											/>
										</div>
									</div>
									<div class="form-group row">
										<label for="person_tel" class="col-sm-2 col-form-label">โทรศัพท์</label>
										<div class="col-sm-10">
											<input
												type="text"
												class="form-control"
												id="person_tel"
												ng-model="profile.person_tel"
												placeholder="Name"
											/>
										</div>
									</div>
									<div class="form-group row">
										<label for="inputExperience" class="col-sm-2 col-form-label">ประเภทตำแหน่ง</label>
										<div class="col-sm-10">
											<select
												id="person_typeposition"
												name="person_typeposition"
												ng-model="profile.typeposition_id"
												class="form-control"
											>
												<option value="">-- เลือกประเภทตำแหน่ง --</option>
												<option ng-repeat="typeposition in typepositions" value="{{ typeposition.typeposition_id }}">
													{{ typeposition.typeposition_name }}
												</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label for="inputSkills" class="col-sm-2 col-form-label">ตำแหน่ง</label>
										<div class="col-sm-10">
											<div style="display: flex; flex-direction: row;">
												<select
													id="person_position"
													name="person_position"
													ng-model="profile.position_id"
													class="form-control mr-1"
												>
													<option value="">-- เลือกตำแหน่ง --</option>
													<option ng-repeat="position in positions" value="{{ position.position_id }}">
														{{ position.position_name }}
													</option>
												</select>
												<select class="form-control col-md-4" ng-model="profile.ac_id">
													<option value="">-- เลือกระดับ --</option>
													<option ng-repeat="academic in academics" value="{{ academic.ac_id }}">
														{{ academic.ac_name }}
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="person_singin" class="col-sm-2 col-form-label">วันที่บรรจุ</label>
										<div class="col-sm-10">
											<input
												type="text"
												class="form-control"
												id="person_singin"
												value="{{ profile.person_singin }}"
												placeholder="วันที่บรรจุ"
											/>
										</div>
									</div>
									<div class="form-group row">
										<label for="person_startdate" class="col-sm-2 col-form-label text-sm">
											วันที่เริ่มปฏิบัติงาน (ที่นี่)
										</label>
										<div class="col-sm-10">
											<input
												type="text"
												class="form-control"
												id="person_startdate"
												value="{{ profile.person_startdate }}"
												placeholder="วันที่เริ่มปฏิบัติงาน (ที่นี่)"
											/>
										</div>
									</div>
									<!-- <div class="form-group row">
										<label for="inputSkills" class="col-sm-2 col-form-label">วันที่เริ่มปฏิบัติงานที่ รพ.</label>
										<div class="col-sm-10">
											<input
												type="text"
												class="form-control"
												id="person_tel"
												value="{{ profile.person_tel }}"
												placeholder="Name"
											/>
										</div>
									</div> -->
									<!-- <div class="form-group row">
										<div class="offset-sm-2 col-sm-10">
											<div class="checkbox">
											<label>
												<input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
											</label>
											</div>
										</div>
									</div> -->
									<div class="form-group row">
										<div class="offset-sm-2 col-sm-10">
											<button
												type="submit"
												class="btn btn-secondary"
												ng-click="updateProfile($event)"
											>
												บันทึก
											</button>
										</div>
									</div>
								</form>

							</div><!-- /.tab-pane -->
						</div><!-- /.tab-content -->
					</div><!-- /.card-body -->
				</div><!-- /.nav-tabs-custom -->

			</div><!-- /.col -->
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {
		$("#profileTabs.nav.nav-pills .nav-link").on("click", function (e) {
			e.preventDefault();

			$(".nav").find(".active").removeClass("active");
			$(this).addClass("active");

			$(".tab-content").find(".active").removeClass("active");
			$($(this).attr("href")).addClass("active");
		});
	});
</script>