<div
	class="row"
	style="margin-top: 10px;"
	ng-controller="homeController" 
	ng-init="getOpVisitMonthData();
			getOpVisitTypeData();
			getIpVisitMonthData();
			referInBarContainer();
			referOutBarContainer();
			getErEmergencyData()"
>
	<div class="col-md-12" style="text-align: center; margin: 20px;">
		<h3>Dashboard</h3>
	</div>

	<div class="col-md-12" style="margin: 20px;">
		<h4><i class="fa fa-user-o" aria-hidden="true"></i> ยอดผู้ป่วยนอก</h4>
	</div>

	<div class="col-md-6">

		<div id="opVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>

	<div class="col-md-6">

		<div id="opVisitTypePieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>

	<div class="col-md-12" style="margin: 20px;">
		<h4><i class="fa fa-bed" aria-hidden="true"></i> ยอดผู้ป่วยใน</h4>
	</div>

	<div class="col-md-6">

		<div id="ipVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>

	<div class="col-md-6">

		<div id="ipVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>

	<div class="col-md-12" style="margin: 20px;">
		<h4><i class="fa fa-ambulance" aria-hidden="true"></i> Refer In/Out</h4>
	</div>

	<div class="col-md-6">

		<div id="referInBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>

	<div class="col-md-6">

		<div id="referOutBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>
	
	<div class="col-md-12" style="margin: 20px;">
		<h4><i class="fa fa-wheelchair" aria-hidden="true"></i> Emergency Room</h4>
	</div>

	<div class="col-md-6">

		<div id="erEmergencyPieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>

	<!--<div class="col-md-6">

		<div id="referOutBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

	</div>-->
</div><!-- /.row-->