<div
	class="row"
	style="margin-top: 10px;"
	ng-controller="homeController" 
	ng-init="getOpVisitMonthData($event);
			getOpVisitTypeData($event);
			getIpVisitMonthData($event);
			getIpClassificationData($event);
			referInBarContainer($event);
			referOutBarContainer($event);
			getErVisitData($event);
			getErEmergencyData($event);
			getOrVisitData($event);
			getOrTypeData($event);"
>
	<div class="col-md-12" style="text-align: center; margin: 20px;">
		<h3>Dashboard</h3>

		<form action="" method="POST" class="form-inline">
			<div class="form-group">
				<label>ปีงบประมาณ :</label>
				<input
					type="text"
					id="cboYear"
					name="cboYear"
					ng-model="cboYear"
					class="form-control"
					style="margin: 0 10px;"
					autocomplete="off"
				>
			</div>

			<button class="btn btn-primary" ng-click="getOpVisitMonthData($event);
													getOpVisitTypeData($event);
													getIpVisitMonthData($event);
													getIpClassificationData($event);
													referInBarContainer($event);
													referOutBarContainer($event);
													getErVisitData($event);
													getErEmergencyData($event);
													getOrVisitData($event);
													getOrTypeData($event);"
			>ตกลง</button>
		</form>

	</div>

	<div class="card col-md-12" style="margin: 5px auto;">
		<div class="card-body">
			<h4 class="card-title"><i class="fa fa-user-o" aria-hidden="true"></i> ยอดผู้ป่วยนอก</h4>

			<div class="row">
				<div class="col-md-6">

					<div id="opVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>

				<div class="col-md-6">

					<div id="opVisitTypePieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
			</div>

		</div>
	</div>

	<div class="card col-md-12" style="margin: 5px auto;">
		<div class="card-body">
			<h4 class="card-title"><i class="fa fa-bed" aria-hidden="true"></i> ยอดผู้ป่วยใน</h4>

			<div class="row">
				<div class="col-md-6">

					<div id="ipClassificationPieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
				
				<div class="col-md-6">

					<div id="ipVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
			</div>

		</div>
	</div>


	<div class="card col-md-12" style="margin: 5px auto;">
		<div class="card-body">
			<h4 class="card-title"><i class="fa fa-ambulance" aria-hidden="true"></i> Refer In/Out</h4>

			<div class="row">
				<div class="col-md-6">

					<div id="referInBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>

				<div class="col-md-6">

					<div id="referOutBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
			</div>
		</div>
	</div>
	
	<div class="card col-md-12" style="margin: 5px auto;">
		<div class="card-body">
			<h4 class="card-title"><i class="fa fa-wheelchair" aria-hidden="true"></i> ห้องอุบัติเหตุและฉุกเฉิน (ER)</h4>

			<div class="row">
				<div class="col-md-6">

					<div id="erVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>

				<div class="col-md-6">

					<div id="erEmergencyPieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
			</div>

		</div>
	</div>

	<div class="card col-md-12" style="margin: 5px auto;">
		<div class="card-body">
			<h4 class="card-title"><i class="fa fa-heartbeat" aria-hidden="true"></i> ห้องผ่าตัด (OR)</h4>
			
			<div class="row">
				<div class="col-md-6">

					<div id="orTypePieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>

				<div class="col-md-6">

					<div id="orVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
			</div>
		</div>
	</div>

</div><!-- /.row-->

<script type="text/javascript">
	$(function() {
		$('#cboYear').datepicker({
			autoclose: true,
	        format: 'yyyy',
			viewMode: "years", 
			minViewMode: "years",
	        language: 'th',
	        thaiyear: true
		}).datepicker('update', new Date());
	});
</script>