<div
    class="row"
    ng-controller="dashmonthController"
    ng-init="getCovidRegMonth($event); getCovidRegWardMonth($event); getCovidRegWeek($event)"
>
    <div class="col-md-7">

        <div id="covidTotalBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-5">

        <div id="covidTotalPieContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-7">

        <div id="covidWardBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-5">

        <div id="covidWardTotalBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-12">
        <div class="ml-4">
            <a href="#" class="btn btn-success" ng-click="showEpidWeekList($event)">
                ตารางแสดงสัปดาห์ระบาดวิทยา ปี 2564
            </a>
        </div>

        <div id="covidWeekBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div ng-include="'./templates/dashboard/_week-list.html?version=202111111430'"></div>

</div>
