<div
    class="row"
    ng-controller="dashmonthController"
    ng-init="getCovidRegMonth($event); getCovidRegWardMonth($event); getCovidRegWeek($event); getBedOccWeek();"
>
    <div class="col-md-7">

        <div id="covidTotalBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-5">

        <div id="covidTotalPieContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-12">

        <div id="covidWardBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-6">

        <div id="covidWardTotalBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-6">

        <div class="form-group col-md-4">
            <select ng-model="cboEpidWeek" ng-change="getBedOccWeek();" class="form-control">
                <option value="">-- เลือกสัปดาห์ --</option>
                <option value="40">สัปดาห์ที่ 40</option>
                <option value="41">สัปดาห์ที่ 41</option>
                <option value="42">สัปดาห์ที่ 42</option>
                <option value="43">สัปดาห์ที่ 43</option>
                <option value="44">สัปดาห์ที่ 44</option>
                <option value="45">สัปดาห์ที่ 45</option>
                <option value="46">สัปดาห์ที่ 46</option>
                <option value="47">สัปดาห์ที่ 47</option>
            </select>
        </div>

        <div id="covidBedOccBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

        <p style="color: red; margin: 2px auto; font-size: 14px;">
            * อัตราครองเตียง = จำนวนวันนอนของวอร์ดในสัปดาห์ * 100 / จำนวนเตียงของวอร์ด * จำนวนวันในสัปดาห์ (7 วัน)
        </p><br>

    </div>

    <div class="col-md-12">
        <div class="ml-4">
            <a href="#" class="btn btn-success" ng-click="showEpidWeekList($event)">
                ตารางแสดงสัปดาห์ระบาดวิทยา ปี 2564
            </a>
        </div>

        <div id="covidWeekBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div ng-include="'./templates/dashboard/_week-list.html?version=202111121342'"></div>

</div>
