<div class="row" ng-controller="dashmonthController" ng-init="onInit()">
    <div class="col-md-7">

        <div id="covidTotalBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-5">

        <div id="covidTotalPieContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-12">

        <div id="covidWardBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-6">

        <div id="covidWardTotalBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div class="col-md-6">
        <div style="display: flex;">
            <div class="form-group col-md-4">
                <select ng-model="cboEpidWeek" ng-change="getBedOccWeek();" class="form-control">
                    <option value="">-- เลือกสัปดาห์ --</option>
                    <option value="{{ week.week_no }}" ng-repeat="(index, week) in epidWeeks">สัปดาห์ที่ {{ week.week_no }}</option>
                </select>

            </div>
            <span style="margin-top: 5px;">
                ({{ epidWeek.start_date | thdate }} - {{ epidWeek.end_date | thdate }})
            </span>
        </div>

        <div id="covidBedOccBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

        <p style="color: red; margin: 2px auto; font-size: 14px;">
            * อัตราครองเตียง = จำนวนวันนอนของวอร์ดในสัปดาห์ * 100 / จำนวนเตียงของวอร์ด * จำนวนวันในสัปดาห์ (7 วัน)
        </p><br>

    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="ml-4" style="display: flex; align-items: center;">
                    <label>ปี พ.ศ. :</label>
                    <div class="col-md-4">
                        <input
                            type="text"
                            id="defaultEpidYear"
                            name="defaultEpidYear"
                            ng-model="defaultEpidYear"
                            class="form-control"
                            style="margin: 0 10px;"
                            autocomplete="off"
                        />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-success float-right" ng-click="showEpidWeekList($event)">
                    ตารางแสดงสัปดาห์ระบาดวิทยา ปี {{ defaultEpidYear }}
                </a>
            </div>
        </div>

        <div id="covidWeekBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <div ng-include="'./templates/dashboard/_week-list.html?version=202111121342'"></div>

</div>
