<div
    class="row"
    ng-controller="dashmonthController"
    ng-init="getIpVisit($event); getIpClass($event); getBedOccMonth($event);"
>

    <div class="col-md-5">

        <div id="ipClassPieContainer" style="width: 100%; height: 640px; margin: 20px auto;"></div>

    </div>
    
    <div class="col-md-7">

        <div id="ipVisitBarContainer" style="width: 100%; height: 640px; margin: 20px auto;"></div>

    </div>

    <!-- อัตราครองเตียงรายวอร์ด -->
    <div class="col-md-12">

        <div id="ipBedoccBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

    <!-- Active Bed รายวอร์ด -->
    <div class="col-md-12">

        <div id="ipActiveBedBarContainer" style="width: 100%; height: 480px; margin: 20px auto;"></div>

    </div>

</div>