<div class="modal fade" id="weekLists" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ตารางแสดงสัปดาห์ระบาดวิทยา ปี 2564</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-bottom: 0;">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 6%;">สัปดาห์ที่</th>
                                <th style="text-align: center; width: 6%;">จากวันที่</th>
                                <th style="text-align: center; width: 6%;">ถึงวันที่</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(index, row) in epidWeeks">
                                <td style="text-align: center;">{{ row.week_no }}</td>
                                <td style="text-align: center;">{{ row.start_date | thdate }}</td>
                                <td style="text-align: center;">{{ row.end_date | thdate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->

            </div><!-- /.modal-body -->
        </div>
    </div>
</div>