<div
	class="row"
	style="margin-top: 10px;"
	ng-controller="dashController" 
	ng-init="getOpVisitMonthData($event);
			getOpVisitTypeData($event);
			getIpVisitMonthData($event);
			getIpClassificationData($event);
			referInBarContainer($event);
			referOutBarContainer($event);
			getErVisitData($event);
			getErEmergencyData($event);
			getOrVisitData($event);
			getOrTypeData($event);"
>

	<div class="col-md-12" style="text-align: center; margin: 20px;">
		<h3>Dashboard</h3>

		<form action="" method="POST" class="form-inline">
			<div class="form-group">
				<label>ระหว่างวันที่ :</label>
				<input
					type="text"
					id="sdate"
					name="sdate"
					ng-model="sdate"
					class="form-control"
					style="margin: 0 10px;"
					autocomplete="off"
				>
			</div>

			<div class="form-group">
				<label>ถึงวันที่ :</label>
				<input
					type="text"
					id="edate"
					name="edate"
					ng-model="edate"
					class="form-control"
					style="margin: 0 10px;"
					autocomplete="off"
				>
			</div>

			<button class="btn btn-primary" ng-click="getOpVisitMonthData($event);
													getOpVisitTypeData($event);
													getIpVisitMonthData($event);
													getIpClassificationData($event);
													referInBarContainer($event);
													referOutBarContainer($event);
													getErVisitData($event);
													getErEmergencyData($event);
													getOrVisitData($event);
													getOrTypeData($event);"
			>ตกลง</button>
		</form>

	</div>

	<div class="card col-md-12" style="margin: 5px auto;">
		<div class="card-body">
			<h4 class="card-title"><i class="fa fa-user-o" aria-hidden="true"></i> ยอดผู้ป่วยนอก</h4>

			<div class="row">
				<div class="col-md-6">

					<div id="opVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>

				<div class="col-md-6">

					<div id="opVisitTypePieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

				</div>
			</div>

		</div>
	</div>

</div><!-- /.row-->

<script type="text/javascript">
	$(function() {
		$('#sdate').datepicker({
			autoclose: true,
	        language: 'th',
	        format: 'dd/mm/yyyy',
	        thaiyear: true
		});

		$('#edate').datepicker({
			autoclose: true,
	        language: 'th',
	        format: 'dd/mm/yyyy',
	        thaiyear: true
		});
	});
</script>