<section
	class="content"
	ng-controller="covidController"
	ng-init="getNumTambon($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-lungs-virus mr-1"></i>
							สรุปยอดผู้ป่วยโควิด 19 อ.เมือง รายตำบล
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">

						<form action="" method="POST" class="form-inline">
							<div class="form-group">
								<label>วันที่ :</label>
								<input
									type="text"
									id="cboDate"
									name="cboDate"
									ng-model="cboDate"
									class="form-control"
									style="margin: 0 10px;"
									autocomplete="off"
								>
							</div>

							<button ng-click="getSumYear($event)" class="btn btn-primary">ตกลง</button>
					
						</form>

					</div><!-- /.card-body -->
				</div><!-- /.card -->

				<div class="card">
					<div class="card-body">

						<div class="row">
							<div class="col-md-8">

								<div class="table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr style="font-size: 14px;">
												<th style="width: 3%; text-align: center;">ลำดับ</th>
												<th style="text-align: center;">ตำบล</th>
												<th style="width: 20%; text-align: center;">จำนวน (ราย)</th>
											</tr>
										<thead>
										<tbody>
											<tr ng-repeat="(index, tambon) in data">
												<td style="text-align: center;">{{ index+1 }}</td>
												<td>{{ tambon.name }}</td>
												<td style="text-align: center;">
													<a href="covid/{{ tambon.addressid }}/tambon">
														{{ tambon.num_pt | currency:'':0 }}
													</a>
												</td>
											</tr>
											<tr>
												<td style="text-align: center;" colspan="2">รวม</td>
												<td style="text-align: center;">{{ totalData.total | currency:'':0 }}</td>
											</tr>
								
										</tbody>
									</table>
								</div><!-- /.table-responsive -->

							</div>
						</div>
					</div><!-- /.card-body -->
				</div><!-- /.card -->

			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {
		$('#cboDate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());
	});
</script>