<section
	class="content"
	ng-controller="productController"
	ng-init="getProductWard($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-chart-line mr-1"></i>
							Productivity หน่วยงาน
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<form action="" method="POST" class="form-inline col-md-8">
								<div class="form-group">
									<label>วันที่ :</label>
									<input
										type="text"
										id="sdate"
										name="sdate"								
										ng-model="cboSDate"								
										class="form-control mr-2 ml-2"
										autocomplete="off"
									>
								</div>

								<div class="form-group mr-2">
									<label>วอร์ด :</label>
									<select
										id="ward"
										name="ward"
										ng-model="cboWard"
										class="form-control ml-2"
										ng-class="{'is-invalid': errors.ward}"
										ng-change="getProductWard($event)"
									>
										<option value="">-- กรุณาเลือก --</option>
										<option value="{{ ward.ward }}" ng-repeat="(index, ward) in wards">
											{{ ward.ward+ '-' +ward.name }}
										</option>
									</select>
								</div>						
							</form>

							<div class="col-md-4">
								<a href="ip/product-add" class="btn btn-primary float-right">บันทึก Productivity</a>
							</div>
						</div>
					</div><!-- /.card-body -->
				</div><!-- /.card -->

				<div class="card">
					<div class="card-body">

						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<td width="3%" style="text-align: center;">ลำดับ</td>
										<td style="text-align: center;">วันที่</td>
										<td width="6%" style="text-align: center;">เวร</td>
										<td width="8%" style="text-align: center;">ผู้ป่วยทั้งหมด</td>
										<td width="6%" style="text-align: center;">ประเภท 1</td>
										<td width="6%" style="text-align: center;">ประเภท 2</td>
										<td width="6%" style="text-align: center;">ประเภท 3</td>
										<td width="6%" style="text-align: center;">ประเภท 4</td>
										<td width="6%" style="text-align: center;">ประเภท 5</td>
										<td width="6%" style="text-align: center;">RN</td>
										<td width="6%" style="text-align: center;">PN/NA</td>
										<td width="8%" style="text-align: center;">Productivity</td>
									</tr>
								</thead>
									<tr ng-repeat="(index, prod) in data">
										<td style="text-align: center;">{{ index+1 }}</td>
										<td style="text-align: center;">{{ prod.product_date | thdate }}</td>
										<td style="text-align: center;">
											<span ng-show="prod.period == 1">เช้า</span>
											<span ng-show="prod.period == 2">บ่าย</span>
											<span ng-show="prod.period == 3">ดึก</span>
										</td>
										<td style="text-align: center;">{{ prod.total_patient }}</td>
										<td style="text-align: center;">{{ prod.type1 }}</td>
										<td style="text-align: center;">{{ prod.type2 }}</td>
										<td style="text-align: center;">{{ prod.type3 }}</td>
										<td style="text-align: center;">{{ prod.type4 }}</td>
										<td style="text-align: center;">{{ prod.type5 }}</td>
										<td style="text-align: center;">{{ prod.rn }}</td>
										<td style="text-align: center;">{{ prod.pn }}</td>
										<td style="text-align: center;">{{ prod.productivity }}</td>
									</tr>
									<tr>
										<td colspan="3" style="text-align: center;">รวม</td>
										<td style="text-align: center;">{{ totalData.patient }}</td>
										<td style="text-align: center;">{{ totalData.type1 }}</td>
										<td style="text-align: center;">{{ totalData.type2 }}</td>
										<td style="text-align: center;">{{ totalData.type3 }}</td>
										<td style="text-align: center;">{{ totalData.type4 }}</td>
										<td style="text-align: center;">{{ totalData.type5 }}</td>
										<td style="text-align: center;">{{ totalData.rn }}</td>
										<td style="text-align: center;">{{ totalData.pn }}</td>
										<td style="text-align: center;">{{ totalData.product }}</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div><!-- /.card-body -->
				</div><!-- /.card -->
	
			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {
		$('#sdate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());

		$('#edate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true,
		}).datepicker('update', new Date());
	});
</script>