<section
	class="content"
	ng-controller="productivityController"
	ng-init="getProductAdd($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-bed mr-1"></i>
							บันทึก Productivity
						</h3>
					</div><!-- /.card-header -->
				</div><!-- /.card -->

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">แบบบันทึก Productivity</h3>
					</div>
					<form action="" method="POST">
						<div class="card-body">
							<div class="row">
								<div class="col-md-7">
									<div class="row">

										<div class="form-group col-md-12">
											<label for="ward">วอร์ด</label>
											<select
												id="ward"
												name="ward"
												ng-model="cboWard"
												ng-change="getWorkload($event)"
												class="form-control"
											>
												<option value="">-- กรุณาเลือก --</option>
												<option value="{{ ward.ward }}" ng-repeat="(index, ward) in wards">
													{{ ward.ward+ '-' +ward.name }}
												</option>
											</select>
										</div>

										<div class="form-group col-md-6">
											<label for="product_date">วันที่</label>
											<input
												type="text"
												id="product_date"
												name="product_date"
												ng-model="dtpProductDate"
												class="form-control"
												autocomplete="off"
											>
										</div>
										<div class="form-group col-md-6">
											<label for="period">เวร</label>
											<select
												id="period"
												name="period"
												ng-model="cboPeriod"
												class="form-control"
												ng-change="getWorkload($event)"
											>
												<option value="">-- กรุณาเลือก --</option>
												<option value="1">เวรเช้า</option>
												<option value="2">เวรบ่าย</option>
												<option value="3">เวรดึก</option>
											</select>
										</div>
										<div class="form-group col-md-4">
											<label for="totlaPatient">ผู้ป่วยทั้งหมด</label>
											<input
												type="text"
												id="totlaPatient"
												name="totlaPatient"
												ng-model="data.all"
												class="form-control"
												placeholder="ผู้ป่วยทั้งหมด"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="type1">ประเภท 1</label>
											<input
												type="text"
												id="type1"
												name="type1"
												ng-model="data.type1"
												class="form-control"
												placeholder="ประเภท 1"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="type2">ประเภท 2</label>
											<input
												type="text"
												id="type2"
												name="type2"
												ng-model="data.type2"
												class="form-control"
												placeholder="ประเภท 2"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="type3">ประเภท 3</label>
											<input
												type="text"
												id="type3"
												name="type3"
												ng-model="data.type3"
												class="form-control"
												placeholder="ประเภท 3"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="type4">ประเภท 4</label>
											<input
												type="text"
												id="type4"
												name="type4"
												ng-model="data.type4"
												class="form-control"
												placeholder="ประเภท 4"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="type5">ประเภท 5</label>
											<input
												type="text"
												id="type5"
												name="type5"
												ng-model="data.type5"
												class="form-control"
												placeholder="ประเภท 5"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="exampleInputPassword1">จำนวน RN</label>
											<input
												type="text"
												id="rn"
												name="rn"
												ng-model="staff.rn"
												class="form-control"
												placeholder="จำนวน RN"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="exampleInputPassword1">จำนวน PN/NA</label>
											<input
												type="text"
												id="pn"
												name="pn"
												ng-model="staff.pn"
												class="form-control"
												placeholder="จำนวน PN/NA"
											>
										</div>
										<div class="form-group col-md-4">
											<label for="total_staff">รวมผู้ปฏิบัติ</label>
											<input
												type="text"
												id="total_staff"
												name="total_staff"
												ng-model="staff.total"
												class="form-control"
												placeholder="รวมผู้ปฏิบัติ"
											>
										</div>
									</div><!-- /.row -->
								</div>

								<div class="col-md-1"></div>

								<div class="col-md-4" style="border: 1px solid red;">
									<div class="row">
										<div class="form-group col-md-6">
											<label for="exampleInputPassword1">ประเภท 1 x 1</label>
											<input
												type="text"
												id="type1x10"
												name="type1x10"
												ng-model="multiply.type1"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>								
										<div class="form-group col-md-6">
											<label for="exampleInputPassword1">ประเภท 2 x 3.5</label>
											<input
												type="text"
												id="type2x35"
												name="type2x35"
												ng-model="multiply.type2"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>								
										<div class="form-group col-md-6">
											<label for="exampleInputPassword1">ประเภท 3 x 5.5</label>
											<input
												type="text"
												id="type3x55"
												name="type3x55"
												ng-model="multiply.type3"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>								
										<div class="form-group col-md-6">
											<label for="exampleInputPassword1">ประเภท 4 x 7.5</label>
											<input
												type="text"
												id="type4x75"
												name="type4x75"
												ng-model="multiply.type4"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>								
										<div class="form-group col-md-6">
											<label for="exampleInputPassword1">ประเภท 5 x 12</label>
											<input
												type="text"
												id="type5x12"
												name="type5x12"
												ng-model="multiply.type5"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>
										<div class="form-group col-md-12">
											<label for="exampleInputPassword1">ผู้ปฏิบัติ x 7</label>
											<input
												type="text"
												id="staffx7"
												name="staffx7"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>
										<div class="form-group col-md-12">
											<label for="exampleInputPassword1">Productivity</label>
											<input
												type="text"
												id="productivity"
												name="productivity"
												class="form-control"
												placeholder="Password"
												readonly
											>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /.card-body -->
			
						<div class="card-footer">
							<button type="submit" class="btn btn-primary float-right">Submit</button>
						</div>
					</form>
				</div><!-- /.card -->
	
			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<!-- <script type="text/javascript">
	$(function() {
		$('#product_date').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());
	});
</script> -->