<div class="modal fade" id="transferForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="">
                <input type="hidden" id="move_faction" name="move_faction" ng-model="nurseMove.move_faction" />

                <div class="modal-header">
                    <h5 class="modal-title">ฟอร์มย้ายภายใน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-bottom: 0;">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">เลขที่คำสั่ง</label>
                            <input
                                type="text"
                                id="move_doc_no"
                                class="form-control mr-2"
                                ng-model="nurseMove.move_doc_no"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">วันที่คำสั่ง</label>
                            <input
                                type="text"
                                id="move_doc_date"
                                class="form-control mr-2"
                                ng-model="nurseMove.move_doc_date"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">วันที่ย้าย</label>
                            <input
                                type="text"
                                id="move_date"
                                class="form-control mr-2"
                                ng-model="nurseMove.move_date"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">หน้าที่</label>
                            <select
                                class="form-control mr-2"
                                ng-model="nurseMove.move_duty"
                            >
                                <option value="">-- หน้าที่ --</option>
                                <option ng-repeat="duty in duties" value="{{ duty.duty_id }}">
                                    {{ duty.duty_name }}    
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">ย้ายไป</label>
                            <div style="display: flex; flex-direction: row;">
                                <select
                                    class="form-control mr-2"
                                    ng-model="nurseMove.move_depart"
                                    ng-change="onMoveDepartChange($event)"
                                >
                                    <option value="">-- กลุ่มงาน --</option>
                                    <option ng-repeat="dep in departs" value="{{ dep.depart_id }}">
                                        {{ dep.depart_name }}    
                                    </option>
                                </select>
                                <select class="form-control" ng-model="nurseMove.move_division">
                                    <option value="">-- งาน --</option>
                                    <option ng-repeat="div in divisions" value="{{ div.ward_id }}">
                                        {{ div.ward_name }}    
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-body -->
                <div class="modal-footer" style="padding-bottom: 8px;">
                    <button class="btn btn-primary" ng-click="move($event)">ย้าย</button>
                </div><!-- /.modal-footer -->
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(function() {
		$('#move_date').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());

        $('#move_doc_date').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());
	});
</script>